
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @team.avatar_url %>
</p>

<p>

  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>

  <strong>Teammitglieder</strong>
  <% @team.users.each do |user| %>
      <%= render 'users/list', user:user %>
<% end %>

  <%= link_to 'Beitreten', register_user_team_path(@team), {:class => 'btn btn-primary'} %>


</p>

